.body-container,
form,
dialog > form > p {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.body-container > form {
  padding: 1rem;
}

legend {
  text-align: center;
}

input {
  border-radius: 10px;
  transition-duration: 0.4s;
  padding: 0.2rem;
  width: clamp(15px, 15vw, 300px);
  font-size: 1.3rem;
}

input:hover {
  background-color: rgba(202, 200, 200, 0.5);
}

button {
  background-color: rgb(106, 231, 231);
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

table {
  border-spacing: 0;
}

table *,
button {
  transition-duration: 0.5s;
}

th,
td {
  /* word-wrap:break-word;  if table or each column has a fixed width*/
  padding: 1rem;
  border-top: 1px solid rgb(106, 231, 231);
  border-left: 1px solid rgb(106, 231, 231);
}

dialog {
  -webkit-transform: translateX(180%) translateY(60%);
  -moz-transform: translateX(180%) translateY(60%);
  -ms-transform: translateX(180%) translateY(60%);
  transform: translateX(8%) translateY(20%);
  width: 30%;
  height: fit-content;
  border-radius: 15px;
  border: 8px dotted rgba(0, 255, 255, 0.329);
}

dialog * {
  /* border: .5px solid black;    */
}

dialog::backdrop {
  background-color: rgba(156, 243, 243, 0.637);
  border: 0.5px solid rgba(127, 255, 212, 0.568);
}

dialog > form {
  height: 100%;
  align-items: revert;
  padding: 2rem;
  gap: 0.5rem;
}

dialog > form > p {
  align-items: revert;
}

dialog > form > p > input,
#book-status {
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  padding-left: 1rem;
  width: 100%;
}

dialog > form > p > label {
  font-size: 1rem;
}
dialog > form > p > input:valid {
  border: 1px solid green;
}

dialog > form > p > input:focus{
  background-color: rgba(255, 255, 0, 0.267);
  padding: 0.5rem;
}

dialog > form > p > input:invalid {
  border: 1px solid red;
}
dialog > form > p >input:required {
  border-width: 2px;
}

#book-status {
  width: fit-content;
}

dialog > form > button {
  margin: 0;
}
